doctype
html
    head
        title admin
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            h1 admin
        .container
            block content
        footer
