extend layout
block content
	form(action="/admin/login", method="post" name="formLogin")
		fieldset
			legend Connexion
			input(type="text", name="username", placeholder="Username")
			input(type="password", name="password", placeholder="Password")
			input(type="submit")