extend layout
block principal
  .principal
    form(action="/admin/login", method="post")
      fieldset
        legend connexion
        input(type="text", name="username", placeholder="pseudo")
        input(type="password", name="password", placeholder="pass")
        input(type="submit" value="hop")