extend layout
block principal
  .principal
    form(action="/admin/register", method="post")
      fieldset
        legend nouvel admin
        input(type="text", name="username", placeholder="pseudo")
        input(type="password", name="password", placeholder="pass")
        input(type="submit" value="hop !")
