doctype
html
  head
    title #{title}
    link(rel="stylesheet", href="css/style.css")
  body
    .centre
      p 
        | Qu'est ce qui a une mauvaise URL, un code http 404 et un lien de redirection ?
      img(src="img/abitbol.jpg" alt="page non trouvée !")
      h2 C'est la page 404 !
      p
        a(href='/', title="Retour à l'accueil") Retour
