doctype
html
  head
    title #{title}
    link(rel="stylesheet", href="/css/style.css")
  body
    #contenu
      .centre
        img(src="/img/abitbol.jpg" alt="page non trouvée !")
        h2 Page 404 !
        p
          a(href='/', title="Retour à l'accueil") Retour