doctype
html
  head
    title #{title}
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/tomorrow-night.css")
    meta(charset="UTF-8")
  body
    include ./include/head.jade
    #global
      #contenu
        include ./include/menu.jade
        article
          if (article)
            h2 #{article.titre}
            div.infos
              | rédigé le #{article.date}
              if (article.date != article.datemodif)
                | &nbsp;(modifié le #{article.datemodif})     
            hr.first       
          block article
      include ./include/foot.jade

    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/js/highlight.pack.js")
    script(type="text/javascript", src="/js/frontend.js")