/* CSS rudimentaire pour l'interface admin */
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/myriadpro-regular.woff') format('woff');
}

body {
    font-family: 'Myriad Pro Regular', Arial;
    font-size: 100%;
}

table {
    border: 1px solid #000000;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px;
}

th {
    border: 1px solid #000000;
}

td {
    border-right: 1px solid #000000;
}

form input {
    margin-right: 10px;
}