body {
    background: #FAFAFA url(img/noiseblanc.png) 0 0 repeat;
    color: #3D3D3D;
    font-family: 'Arial';
    font-size: 1em;
    padding: 0;
    margin: 0;
}

header {
    /*border-bottom: 4px solid #FDB020;*/
    border-bottom: 1px solid #417199;
    margin: 0;
    padding: 6px;
}

header h1 {
    width: 960px;
    margin: 0 auto;
}


#global {
    position: relative;
    width: 960px;
    min-height: 1205px;
    margin: 14px auto 14px auto;
    background-color: #FFFFFF; 
    box-shadow: 0px 0px 2px #333333;
    font-size: 15px;  
    padding: 15px; 
}

#global h2 {
    color: #417199;
}

#global li {
    padding: 2px;
    list-style-image: url("img/arrow.png")
}

#perso {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 480px;
}

#perso img {
    position: relative;
    top: 2px;
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

#photo {
    position: absolute;
    top: 10px;
    left: 440px;
    width: 537px;
    border-left: 1px dotted #7FABDC;
}

#photo img {
    display: block;
    float: right;
    width: 140px;
    height: 140px;
    border-radius: 5px;
}

#blocsuite {
    position: absolute;
    top: 164px;
    left: 21px;
    width: 957px;
    border-top: 1px dotted #7FABDC;
}

#blocsuite p {
    margin: 0;
}

#blocsuite li {
    margin-left: -20px;
}

#formation,
#xpperso {
    border-top: 1px dotted #7FABDC;
}

#duo {
    position: relative;
    border-top: 1px dotted #7FABDC;
}

#duo h2 {
    margin-top: 10px;
}

#compinfo {
    position: absolute;
    width: 419px;
    top: 10px;
    left: 0px;
    border-right: 1px dotted #7FABDC;
}

#compinfo h3,
#loisirs h3 {
    margin: 0;
}

#compinfo li,
#loisirs li {
    margin-bottom: 10px;
}

#loisirs {
    position: absolute;
    width: 510px;
    top: 10px;
    left: 420px;
    padding-left: 25px;
}


#liens {
    margin-top: -8px;
}

#liens img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 2px;
    margin-right: 8px;
}
#liens a,
#liens a:hover,
#liens a:visited {
    text-decoration: none;
    color: #417199;
}
#liens a:hover {
    text-decoration: underline;
}





