@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/myriadpro-regular.woff') format('woff');
}

body {
    background: #FAFAFA url(img/noiseblanc.png) 0 0 repeat;
    color: #3D3D3D;
    font-family: Arial;
    padding: 0;
    margin: 0;
    min-height: 970px;
}

header {
    /*border-bottom: 4px solid #FDB020;*/
    border-bottom: 1px solid #417199;
    margin: 0;
    padding: 6px;
}

header h1 {
    width: 960px;
    margin: 0 auto;
}


#global {
    position: relative;
    width: 960px;
    margin: 14px auto 0 auto;
}

.postit {
    position: absolute;
    /*background-color: #FCF7B3; */
    background-color: #FFFFFF; 
    padding: 15px; 
    font-size: 15px;  
    width: 500px;
    box-shadow: 0px 0px 2px #333333;
}

.postit h2 {
    margin-top: -42px;
} 

#perso {
    width: 250px;
    transform: rotate(1deg);
    top: -40px;
    left: 550px;
}

#formation {
    width: 400px;
    transform: rotate(-2deg);
    top: 30px;
    left: 0px;
}

#xppro {
    width: 400px;
    transform: rotate(2deg);
    top: 150px;
    left: 470px;
}

#competenceinfo {
    width: 309px;
    transform: rotate(1deg);
    top: 398px;
    left: 60px;
}

#loisir {
    width: 335px;
    transform: rotate(-1deg);
    top: 523px;
    left: 485px;
}

#fichier {
    width: 244px;  
    transform: rotate(2deg);
    top: 726px;
    left: 502px;
}

#lien {
    width: 156px;
    transform: rotate(-1deg);
    top: 816px;
    left: 540px;
}

ul li {
    list-style: none;
    margin-left: -40px;
}


p {
    margin: 0;
}

/*from site*/
/*.post-it {
background:#fefabc; 
padding:15px; 
font-family: 'Gloria Hallelujah', cursive; 
font-size:15px; 
color: #000; 
width:200px; 

-moz-transform: rotate(7deg);
-webkit-transform: rotate(7deg);
-o-transform: rotate(7deg);
-ms-transform: rotate(7deg);
transform: rotate(7deg);

box-shadow: 0px 4px 6px #333;
-moz-box-shadow: 0px 4px 6px #333;
-webkit-box-shadow: 0px 4px 6px #333;

}*/
