body {
    background: #FAFAFA url(img/noiseblanc.png) 0 0 repeat;
    color: #3D3D3D;
    font-family: 'Arial';
    font-size: 1em;
    padding: 0;
    margin: 0;
    min-height: 800px;
}

header {
    /*border-bottom: 4px solid #FDB020;*/
    border-bottom: 1px solid #417199;
    margin: 0;
    padding: 6px;
}

header h1 {
    width: 960px;
    margin: 0 auto;
}


#global {
    position: relative;
    width: 960px;
    margin: 14px auto 0 auto;
}

.postit {
    position: absolute;
    /*background-color: #FCF7B3; */
    background-color: #FFFFFF; 
    padding: 15px; 
    font-size: 15px;  
    width: 500px;
    box-shadow: 0px 0px 2px #333333;
}

.postit h2 {
    margin-top: -42px;
}
.postit h3 {
    margin-bottom: 0;
} 

#perso {
    width: 250px;
    /*transform: rotate(1deg);*/    
    top: -40px;
    left: 550px;
}

#formation {
    width: 400px;
    /*transform: rotate(-1deg);*/
    top: 30px;
    left: 0px;
}

#xppro {
    width: 400px;
    /*transform: rotate(1deg);*/
    top: 150px;
    left: 470px;
}

#competenceinfo {
    width: 309px;
    /*transform: rotate(1deg);*/
    top: 398px;
    left: 60px;
}

#loisir {
    width: 335px;
    /*transform: rotate(-1deg);*/
    top: 523px;
    left: 485px;
}

#fichier {
    width: 244px;  
    /*transform: rotate(1deg);*/
    top: 676px;
    left: 84px;
}

#lien {
    width: 156px;
    /*transform: rotate(-1deg);*/
    top: 676px;
    left: 559px;
}

ul li {
    list-style: none;
    margin-left: -40px;
}

p {
    margin: 0;
}

a,
a:hover,
a:visited {
    color: #3D3D3D;
}

a,
a:hover {
    text-decoration: underline;
}


