html {
    /*  corriger un bug étrange qui donne de l'espace en haut
        peut-être lié à jade et les include ? */
    margin-top: -16px; 
}

body {
    color: #3D3D3D;
    font-family: 'Open Sans', Arial;
    background: #232323 url(img/noisenoir.png) 0 0 repeat;
    padding: 0;
    margin: 0;
}

#global {
    width: 960px;
    margin: 14px auto 0 auto;
}

header {
    background: #FAFAFA url(img/noiseblanc.png) 0 0 repeat;
    border-bottom: 4px solid #FDB020;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
}

nav a,
nav a:hover,
nav a:visited,
#menu a,
#menu a:hover,
#menu a:visited {
    color: #3D3D3D;
    text-decoration: none;
}

nav a:hover,
#menu a:hover {
    text-decoration: underline;
}

nav ul li img {
    position: relative;
    right: 5px;
    top: 9px;
    width: 28px;
    height: 28px;
}

nav ul li {
    display: inline;
    list-style: none;
}


nav ul li + li::before {
    content: "|";
    margin: 0 10px;
    color: #FAFAFA;
}

#contenu {
    background-color: #FAFAFA;
    border: 4px solid #417199;
    padding: 7px 30px;
    border-top: none;
    border-bottom: none;
    text-align: justify;
    min-height: 600px;
}

#contenu #menu {
    float: left;
    width: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 0 15px 15px 0;
    border-right: 2px solid #417199;
    border-bottom: 2px solid #417199;

}

#contenu article {
    margin-top: -16px; /* idem html au début */ 
}

#contenu h2,
#menu a {
    color: #417199;
}

ul#articles li {
    list-style: none;
    margin-left: -40px; /* vérifier si pas plus joli joli à faire */
}

ul#articles li:before {
    content: "- ";
}

footer {
    background-color: #417199;
    color: #FAFAFA;
    text-align: center;
}
