html {
    /*  corriger un bug étrange qui donne de l'espace en haut
        peut-être lié à jade et les include ? */
    /*  après enquête, peut-être lié au h1*/
    margin-top: -16px; 
}

body {
    color: #3D3D3D;
    font-family: 'Open Sans', Arial;
    background: #232323 url(img/noisenoir.png) 0 0 repeat;
    padding: 0;
    margin: 0;
}

#global {
    width: 960px;
    margin: 14px auto 0 auto;
}

header {
    background: #FAFAFA url(img/noiseblanc.png) 0 0 repeat;
    /*border-bottom: 4px solid #FDB020;*/
    border-bottom: 4px solid #417199;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
}

a {
    color: #417199;
    text-decoration: none;
}

nav a,
nav a:hover,
nav a:visited,
#menu a,
#menu a:hover,
#menu a:visited {
    color: #3D3D3D;
}

a:hover {
    text-decoration: underline;
}

nav ul li img {
    position: relative;
    right: 5px;
    top: 9px;
    width: 28px;
    height: 28px;
}

nav ul li {
    display: inline;
    list-style: none;
}


nav ul li + li::before {
    content: "|";
    margin: 0 10px;
    color: #3D3D3D;
}

#contenu {
    background-color: #FAFAFA;
    box-shadow: 0px 0px 20px #101010;
    padding: 20px 30px;
    text-align: justify;
    min-height: 600px;
}

#contenu #menu {
    float: right;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0 0 3px 20px;
    border-left: 2px solid #417199;
    border-bottom: 2px solid #417199;

}

#contenu article {
    margin-top: -16px; /* idem html au début */ 
}

#contenu #menu h3 {
    margin-top: 10px;
}

#contenu h2 {
    color: #417199;
    margin-bottom: 0;
}

#contenu article hr {
    color: #417199;
    border: 1px solid #417199;
    margin-bottom: 25px;
}

ul#articles li {
    list-style: none;
    margin-left: -40px; /* vérifier si pas plus joli joli à faire */
}

ul#articles li:before {
    content: "- ";
}

footer {
    background-color: #444444;
    color: #FAFAFA;
    text-align: center;
}

.infos {
    font-style: italic;
}

.centre {
    text-align: center;
}