/** --- PALETTE --- **/


/** --- FONTS --- **/
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/myriadpro-regular.woff') format('woff');
}


/** --- GENERAL --- **/
p, h1, h2, h3, h4, h5 {
    padding: 5px;
}

body {
    color: #3D3D3D;
    background: #FAFAFA url(img/noise.png) 0 0 repeat;
    font-family: 'Myriad Pro Regular', Arial;
    font-size: 100%;
}

header, article, .minibloc {
    display: block;
    padding: 8px;
    margin: 8px;
    background-color: #FAFAFA;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #3D3D3D;
}

h1 {
    display: inline-block;
}

nav {
    float: right;
}

nav ul {
    padding-left: 15px;
    margin: 0 8px 0 0;
}

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li img {
    position: relative;
    right: 5px;
    top: 9px;
    width: 28px;
    height: 28px;
}

nav ul li + li::before {
    content: "|";
    margin: 0 10px;
}

.bloc {
    display: block;
    float: left;
    width: 300px;
}

/** --- TEXTE --- **/
p {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a, a:hover, a:visited {
    color: #3D3D3D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 a:hover {
    text-decoration: none;
}


/** --- FORMS --- **/


/** --- TABLE --- **/


/** --- CLASSES --- **/
.centre {
    text-align: center;
}
