header
  nav
    ul
      li
        a(href="/cv-thibaud-tallon" title="mon curriculum vitae en ligne")
          img(src="/img/profil.png")
          | CV
      li
        a(href="https://github.com/tibaldev" title="vers ma page github")
          img(src="/img/github.png")
          | github
      li
        a(href="mailto:thibaud.tallon@gmail.com" title="me contacter (thibaud.tallon [at] gmail.com)")
          img(src="/img/contact.png")
          | me contacter

