header
  h1 
    a(href="/" title="accueil #{h1}") #{h1}
  nav
    ul#menu
      li
        a(href="/contact" title="me contacter") 
          img(src="/img/contact.png")
          | contact
      li
        a(href="/profil" title="mon curriculum vitae")
          img(src="/img/profil.png")
          | profil
      li
        a(href="https://github.com/tibaldev" title="vers ma page github")
          img(src="/img/github.png")
          | github

