header
  h1 
    a(href="/" title="accueil #{title}") #{title}
  ul#menu
    li: a(href="/contact" title="me contacter") contact
    li: a(href="/cv" title="mon curriculum vitae") cv
    li: a(href="https://github.com/tibaldev" title="vers ma page github") github

