#menu
  .bloc
    p Bienvenue sur mon site, où vous pouvez lire mes recherches autour de Node.js.
    p Vous pouvez également me contacter par mail, consulter mon profil ou ma page Github.
    p Bonne lecture !
    p Thibaud

  if (articles)
    h3 Articles
    if (articles.length > 0)
      ul#articles
        for article in articles
          li 
            a(href="/article/#{article.id}") #{article.titre}
    else
      p aucun article
