#navigation 
  .bloc
    h2 Hello !
    p
      | Bienvenue sur mon site personnel, où j'y écris quelques articles autour de mes 
      | recherches et trouvailles autour du développement web, et plus précisément autour
      | de la plateforme Nodejs.
    p
      | N'hésitez pas à me contacter, consulter mon profil ou visiter ma page Github.
    p
      em
        | Thibaud

  if (articles)
    .bloc
      h2 Articles
      if (articles.length > 0)
        ul
          for article in articles
            li 
              a(href="/article/#{article.id}") #{article.titre}
      else
        p aucun article