extend layout
block article
  h3 titre de l'article
  ul
    li: a(href="google.fr") lien
    li avec du texte
  h4 titre de paragraphe
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    | Morbi consectetur erat id nulla ornare, molestie pharetra magna aliquam. 
    | Ut neque erat, ultricies ut imperdiet eget, convallis quis est. 