h1: a(href="/admin" title="accueil admin") admin
if (user)
  .menu
    ul
      li #{user.username}
      li: a(href="/admin/logout", title="déconnexion") déconnexion
    ul
      li: a(href="/admin/register", title="nouvel admin") nouvel admin
      li: a(href="/", title="blog") front-end